@bg:		#FDFDF0;
@block: 	#FEFFF1;
@brown: 	#452f0c;

.rounded-corners (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.box-shadow {
	-moz-box-shadow: 2px 2px 15px #888;
	-webkit-box-shadow: 2px 2px 15px #888;
	box-shadow: 2px 2px 15px #888;
}

.bold {
	font-weight: bold;
}

body {
	background-color: @bg;
}

.container {
	padding-top: 5%;
}

.content {
	float: left;
	width: 100%;
}

.block {
	.rounded-corners;
	.box-shadow;
	background-color: @block;
	min-height: 200px;
	padding: 20px;
	margin: 15px 0px; 
}

.room-list {
	overflow: hidden;
}

.room-item-template {
	display: none;
}

.room-item {
	.rounded-corners;
	.box-shadow;

	padding: 10px;
	margin-bottom: 15px;
	height: 200px;
	position: relative;
	color: @brown;
	background-color: white;
	cursor: pointer;
	margin: 15px 1.5%;
	width: 30%;
	float: left;

	&:hover {
		background-color: darken(@block, 10);
	}

	.room-players {
		float: left;
		position: absolute;
		bottom: 10px;
		right: 10px;
		left: 10px;
		span {
			display: block;
			width: 100%;
			float: left;
		}
	}

	.room-name {
		width: 100%;
		display: block;
	}

	.room-icon {
		width: 20px;
		height: 20px;
		float: right;
	}

	&.room-live .room-icon {
		background: url('../img/status.png') no-repeat;
	}
	&.room-busy {
		background-color: lighten(#FF0000, 45);

		.room-icon {
			background: url('../img/status-busy.png') no-repeat;
		}
	}
	&.room-away .room-icon {
		background: url('../img/status-away.png') no-repeat;
	}
}

.user-list {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		cursor: pointer;
		padding: 5px;

		&:hover {
			background-color: darken(@block, 10);
			.tooltip {
				display: block;
				opacity: 1;
				visibility: visible;	
			}
		}

		&.current {
			background-color: darken(@block, 10);
		}

		.tooltip {
			right: 0%;
			left: 50%;
			bottom: 100%;
			background: white;
			padding: 15px;
			border: 1px solid #ddd;
			visibility: hidden;

			p {
				margin: 2px 0px;
			}
		}
	}
}


.text-header {
	.bold;
	font-size: 18px;
}

.login-form {
	width: 300px;
	height: 200px;
	margin: auto;
	padding: 50px 20px;
	overflow: hidden;
	.rounded-corners;
	.box-shadow;
	background-color: white;

	position: absolute;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -150px;
}
.map {
	overflow: hidden;
}
.map-item {
	border: 1px solid grey;
	background-color: white;
	float: left;
	width: 27%;
	padding-bottom: 27%;
    margin: 3%;
    cursor: pointer;

    &:hover {
    	background-color: lighten(lightgreen, 5);
    }
}

.map-item-cross {
	background-image: url('../img/cross.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.map-item-tick {
	background-image: url('../img/tick.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
}

.chat {
	height: 200px;
	overflow-y: auto;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid lightgrey;

	p {
		padding: 0px;
		margin: 0px;
	}

}

.center {
	text-align: center;
}

.leave-room, .start-game {
	margin-top: 10px;
}