<div class="col-lg-8">
	<div class="block">
		<div class="room-list">
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>

					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="room-item ">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon room-icon-live"></div>
						<span>Nazwa....</span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
						<span>Piotr</span>
						<br/>
						<span>Seba</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-4">
	<div class="block">
		<span class="text-header">Lista graczy</span>
		<hr/>
		<ul class="user-list">
			<li>Piotr</li>
			<li>Piotr</li>
			<li>Piotr</li>
			<li>Piotr</li>
		</ul>
	</div>

	<div class="block">
		<span class="text-header">Stwórz pokój</span>
		<hr/>
		<div class="form-group">
			<label for="name">Podaj nazwę pokoju</label>
			<input type="text" class="form-control" name="name" id="name" placeholder="Podaj nazwę pokoju"/>
		</div>
		<div class="form-group">
			<button class="btn btn-default">Stwórz</button>
		</div>
	</div>
</div>