<div class="login-form">
  <div class="col-lg-12">
    <div class="form-group">
      <label for="nick">Podaj nick</label>

      <input type="text" class="form-control" name="nick" id="nick" placeholder="Podaj nick"/>
      
    </div>
    <div class="form-group">
      <button id="login" class="btn btn-primary">Zaloguj</button>
    </div>
  </div>
</div>