<div id="room-content">

	<div class="col-lg-8">
		<div class="block">
			<div class="text-header center map-info">
			</div>
			<div class="map">
				<div data-row="0" data-col="0" class="map-item"></div>
				<div data-row="0" data-col="1" class="map-item"></div>
				<div data-row="0" data-col="2" class="map-item"></div>

				<div data-row="1" data-col="0" class="map-item"></div>
				<div data-row="1" data-col="1" class="map-item"></div>
				<div data-row="1" data-col="2" class="map-item"></div>

				<div data-row="2" data-col="0" class="map-item"></div>
				<div data-row="2" data-col="1" class="map-item"></div>
				<div data-row="2" data-col="2" class="map-item"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="block">
			<span class="text-header">Gracze</span>
			<hr/>
			<ul class="user-list">
			</ul>
			<div class="form-group">
				<div class="row">
					<div class="col-lg-6">
						<button class="btn btn-default btn-primary start-game">Rozpocznij grę</button>
					</div>
					<div class="col-lg-6">
						<button class="btn btn-default leave-room">Wyjdź z pokoju</button>
					</div>
				</div>
			</div>
		</div>

		<div class="block">
			<span class="text-header">Chat</span>
			<hr/>
			<div class="chat">
			</div>
			<div class="form-group">
				<input type="text" class="form-control message" placeholder="Naciśnij enter aby wysłać tekst"/>
			</div>
		</div>
	</div>
</div>