<div id="lobby">
	<div class="col-lg-8">
		<div class="block">
			<div class="room-list">
				<div class="room-item room-item-template">
					<div class="text-header-block">
						<span class="text-header">Nazwa pokoju</span>
						<div class="room-icon"></div>
						<span class="room-name"></span>
					</div>
					<div class="room-players">
						<p class="text-header">Gracze</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="block">
			<span class="text-header">Lista graczy</span>
			<hr/>
			<ul class="user-list">
			</ul>
		</div>

		<div class="block">
			<span class="text-header">Stwórz pokój</span>
			<hr/>
			<div class="form-group">
				<label for="name">Podaj nazwę pokoju</label>
				<input type="text" class="form-control" name="name" id="name" placeholder="Podaj nazwę pokoju"/>
			</div>
			<div class="form-group">
				<button id="createRoom" class="btn btn-default">Stwórz</button>
			</div>
		</div>
		
		<div class="block">
			<span class="text-header">Chat</span>
			<hr/>
			<div class="chat">
			</div>
			<div class="form-group">
				<input type="text" class="form-control message" placeholder="Naciśnij enter aby wysłać tekst"/>
			</div>
		</div>
	</div>
</div>