.box-shadow {
  -moz-box-shadow: 2px 2px 15px #888;
  -webkit-box-shadow: 2px 2px 15px #888;
  box-shadow: 2px 2px 15px #888;
}
.bold {
  font-weight: bold;
}
body {
  background-color: #fdfdf0;
}
.container {
  padding-top: 5%;
}
.content {
  float: left;
  width: 100%;
}
.block {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 15px #888;
  -webkit-box-shadow: 2px 2px 15px #888;
  box-shadow: 2px 2px 15px #888;
  background-color: #fefff1;
  min-height: 200px;
  padding: 20px;
  margin: 15px 0px;
}
.room-list {
  overflow: hidden;
}
.room-item-template {
  display: none;
}
.room-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 15px #888;
  -webkit-box-shadow: 2px 2px 15px #888;
  box-shadow: 2px 2px 15px #888;
  padding: 10px;
  margin-bottom: 15px;
  height: 200px;
  position: relative;
  color: #452f0c;
  background-color: white;
  cursor: pointer;
  margin: 15px 1.5%;
  width: 30%;
  float: left;
}
.room-item:hover {
  background-color: #faffbe;
}
.room-item .room-players {
  float: left;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
.room-item .room-players span {
  display: block;
  width: 100%;
  float: left;
}
.room-item .room-name {
  width: 100%;
  display: block;
}
.room-item .room-icon {
  width: 20px;
  height: 20px;
  float: right;
}
.room-item.room-live .room-icon {
  background: url('../img/status.png') no-repeat;
}
.room-item.room-busy {
  background-color: #ffe5e5;
}
.room-item.room-busy .room-icon {
  background: url('../img/status-busy.png') no-repeat;
}
.room-item.room-away .room-icon {
  background: url('../img/status-away.png') no-repeat;
}
.user-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.user-list li {
  position: relative;
  cursor: pointer;
  padding: 5px;
}
.user-list li:hover {
  background-color: #faffbe;
}
.user-list li:hover .tooltip {
  display: block;
  opacity: 1;
  visibility: visible;
}
.user-list li.current {
  background-color: #faffbe;
}
.user-list li .tooltip {
  right: 0%;
  left: 50%;
  bottom: 100%;
  background: white;
  padding: 15px;
  border: 1px solid #ddd;
  visibility: hidden;
}
.user-list li .tooltip p {
  margin: 2px 0px;
}
.text-header {
  font-weight: bold;
  font-size: 18px;
}
.login-form {
  width: 300px;
  height: 200px;
  margin: auto;
  padding: 50px 20px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 15px #888;
  -webkit-box-shadow: 2px 2px 15px #888;
  box-shadow: 2px 2px 15px #888;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -150px;
}
.map {
  overflow: hidden;
}
.map-item {
  border: 1px solid grey;
  background-color: white;
  float: left;
  width: 27%;
  padding-bottom: 27%;
  margin: 3%;
  cursor: pointer;
}
.map-item:hover {
  background-color: #a6f1a6;
}
.map-item-cross {
  background-image: url('../img/cross.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.map-item-tick {
  background-image: url('../img/tick.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}
.chat {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid lightgrey;
}
.chat p {
  padding: 0px;
  margin: 0px;
}
.center {
  text-align: center;
}
.leave-room,
.start-game {
  margin-top: 10px;
}
